:root
{
  --bluebg: #F8F9FD;
    --blue : #0B63E5;
    --black : #071213;
    --purple: #7534FF;
    --grey:#555555;
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}


body {
  background-color: #F8F9FD;
}
